﻿@{
    ViewData["Title"] = "Token";
}

<script>

function myFunction() {

  /* Get the text field */
  var copyText = document.getElementById("myToken");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

} 

</script>

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Configuration</h1>

    <div>ViewBag.ClientId = @ViewBag.ClientId</div>
    <div>ViewBag.SignInScheme = @ViewBag.SignInScheme </div>
    <div>ViewBag.Authority = @ViewBag.Authority</div>
    <div>ViewBag.RequireHttpsMetadata = @ViewBag.RequireHttpsMetadata</div>
    <div>ViewBag.UsePkce = @ViewBag.UsePkce</div>
    <div>ViewBag.scopes = @ViewBag.scopes</div>
    <div>ViewBag.SaveTokens = @ViewBag.SaveTokens</div>
    <div>ViewBag.MetadataAddress = @ViewBag.MetadataAddress</div>

    <h1 class="h3 mb-4 text-gray-800">User</h1>
    <div>ViewBag.Upn  = @ViewBag.Upn </div>
    <div>ViewBag.GivenName = @ViewBag.GivenName</div>
    <div>ViewBag.SurName = @ViewBag.SurName</div>
    <div>ViewBag.Email = @ViewBag.Email</div>
    <div>ViewBag.Audience = @ViewBag.Audience</div>
    <div>ViewBag.Scope = @ViewBag.Scope</div>
    <div>ViewBag.AppId = @ViewBag.AppId</div>
    <div>ViewBag.AuhTime = @ViewBag.AuhTime</div>


    <h1 class="h3 mb-4 text-gray-800">Token</h1>
    <textarea  rows="10" cols="150" id="myToken">bearer @ViewBag.token</textarea>
    
    <div><button onclick="myFunction()">Copy text</button></div>
    <div><a class="btn btn-primary" asp-controller="Home" asp-action="Logout">Déconnexion</a></div>
    <h1>Head</h1>
    <div>@Html.Raw(@ViewBag.Jwtheader)</div>
    <h1>Payload</h1>
    <div>@Html.Raw(@ViewBag.JwtPayload)</div>
</div>
